# Mid-term project - Business Intelligence analysis with Olist data

#### First, I will connect mysql to this notebook, in order to use sql files I have.

In [1]:
import pandas as pd
import getpass
import sqlalchemy as sa

In [2]:
pd

In [3]:
driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:'"")
ip = '127.0.0.1'

Your password:········

In [4]:
connection_string = f'{driver}://{user}:{password}@{ip}'

In [5]:
db_connection = sa.create_engine(connection_string)

In [6]:
insp = sa.inspect(db_connection)
db_list = insp.get_schema_names()
print(db_list)

['bank', 'information_schema', 'mysql', 'olist', 'performance_schema', 'sakila', 'sys']

#### Here I will start joining, exploring and cleaning all tables which I need for for the first dashboard.

In [7]:
# We want to find the sum of order payments for each year. We will join two tables - order_status_year_price and
# order_payments. I will use sql queries to do that.

query = "SELECT * FROM olist.order_status_year_price Inner Join olist.order_payments on order_status_year_price.order_id = order_payments.order_id "
order_year_price_join = pd.read_sql_query(query, db_connection)
order_year_price_join

,order_id,order_item_id,order_status,Year,product_id,product_category_name,category,total_price,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,e17e4f88e31525f7deef66779844ddce,1,delivered,2018,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery\r,18.30,e17e4f88e31525f7deef66779844ddce,1,debit_card,1,18.30
1,5236307716393b7114b53ee991f36956,1,delivered,2018,3aa071139cb16b67ca9e5dea641aaa2f,artes,art\r,265.99,5236307716393b7114b53ee991f36956,1,voucher,1,265.99
2,01f66e58769f84129811d43eefd187fb,1,delivered,2018,96bd76ec8810374ed1b65e291975717f,esporte_lazer,sports_leisure\r,87.62,01f66e58769f84129811d43eefd187fb,1,credit_card,1,87.62
3,143d00a4f2dde4e0364ee1821577adb3,1,delivered,2018,cef67bcfe19066a932b7673e239eb23d,bebes,baby\r,121.84,143d00a4f2dde4e0364ee1821577adb3,1,credit_card,2,121.84
4,86cafb8794cb99a9b1b77fc8e48fbbbb,1,delivered,2018,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,housewares\r,46.19,86cafb8794cb99a9b1b77fc8e48fbbbb,1,credit_card,4,46.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
161365,6e4465d771f02e4fe335225de3c6c043,3,delivered,2018,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,computers_accessories\r,53.18,6e4465d771f02e4fe335225de3c6c043,1,boleto,1,159.54
161366,6e4465d771f02e4fe335225de3c6c043,1,delivered,2018,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,computers_accessories\r,53.18,6e4465d771f02e4fe335225de3c6c043,1,boleto,1,159.54
161367,6e4465d771f02e4fe335225de3c6c043,2,delivered,2018,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,computers_accessories\r,53.18,6e4465d771f02e4fe335225de3c6c043,1,boleto,1,159.54
161368,6e4465d771f02e4fe335225de3c6c043,3,delivered,2018,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,computers_accessories\r,53.18,6e4465d771f02e4fe335225de3c6c043,1,boleto,1,159.54
161369,f3a47ba087f05d39a74ed1b653f0be1b,1,delivered,2018,106392145fca363410d287a815be6de4,cama_mesa_banho,bed_bath_table\r,134.55,f3a47ba087f05d39a74ed1b653f0be1b,1,credit_card,2,134.55

In [8]:
# I will delete the columns we don't need.

order_year_price_join.drop(columns = ["category", "order_item_id", "order_status", "payment_sequential", "payment_type", "payment_installments"], inplace = True)

order_year_price_join

,order_id,Year,product_id,product_category_name,total_price,order_id,payment_value
0,e17e4f88e31525f7deef66779844ddce,2018,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,18.30,e17e4f88e31525f7deef66779844ddce,18.30
1,5236307716393b7114b53ee991f36956,2018,3aa071139cb16b67ca9e5dea641aaa2f,artes,265.99,5236307716393b7114b53ee991f36956,265.99
2,01f66e58769f84129811d43eefd187fb,2018,96bd76ec8810374ed1b65e291975717f,esporte_lazer,87.62,01f66e58769f84129811d43eefd187fb,87.62
3,143d00a4f2dde4e0364ee1821577adb3,2018,cef67bcfe19066a932b7673e239eb23d,bebes,121.84,143d00a4f2dde4e0364ee1821577adb3,121.84
4,86cafb8794cb99a9b1b77fc8e48fbbbb,2018,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,46.19,86cafb8794cb99a9b1b77fc8e48fbbbb,46.19
...,...,...,...,...,...,...,...
161365,6e4465d771f02e4fe335225de3c6c043,2018,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,53.18,6e4465d771f02e4fe335225de3c6c043,159.54
161366,6e4465d771f02e4fe335225de3c6c043,2018,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,53.18,6e4465d771f02e4fe335225de3c6c043,159.54
161367,6e4465d771f02e4fe335225de3c6c043,2018,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,53.18,6e4465d771f02e4fe335225de3c6c043,159.54
161368,6e4465d771f02e4fe335225de3c6c043,2018,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,53.18,6e4465d771f02e4fe335225de3c6c043,159.54
161369,f3a47ba087f05d39a74ed1b653f0be1b,2018,106392145fca363410d287a815be6de4,cama_mesa_banho,134.55,f3a47ba087f05d39a74ed1b653f0be1b,134.55

In [9]:
# Checking missing values

order_year_price_join.isna().sum()

order_id                 0
Year                     0
product_id               0
product_category_name    0
total_price              0
order_id                 0
payment_value            0
dtype: int64

In [10]:
# Checking the data types

order_year_price_join.dtypes

order_id                  object
Year                       int64
product_id                object
product_category_name     object
total_price              float64
order_id                  object
payment_value            float64
dtype: object

In [11]:
# Here I am checking the year column to see which years do we have and if there is anything to standardize.

order_year_price_join["Year"].unique()

array([2018, 2017, 2016])

In [14]:
# Overview of some of the descriptive statistics in this table.

order_year_price_join.describe()

                Year    total_price  payment_value
count  161370.000000  161370.000000  161370.000000
mean     2017.541358     129.541373     244.295863
std         0.505364     175.256044     445.644997
min      2016.000000       6.080000       0.000000
25%      2017.000000      51.720000      72.050000
50%      2018.000000      85.240000     135.630000
75%      2018.000000     146.460000     247.610000
max      2018.000000    6929.310000   13664.100000

In [15]:
# I will calculate the total sales for each year

order_year_price_join.groupby("Year").sum()

      total_price  payment_value
Year
2016     75321.27      140652.32
2017   9457739.53    17971651.18
2018  11371030.56    21309719.85

In [16]:
# Calculating the unique nr of sellers for all the years. I will use another table.

query_nr_sellers = "SELECT count(distinct seller_id) FROM olist.sellers"
nr_of_sellers = pd.read_sql_query(query_nr_sellers, db_connection)
nr_of_sellers

   count(distinct seller_id)
0                       3095

In [17]:
# Calculating the unique nr of customers for all the years.

query_nr_customers = "SELECT count(distinct customer_id) FROM olist.customers"
nr_of_customers = pd.read_sql_query(query_nr_customers, db_connection)
nr_of_customers

   count(distinct customer_id)
0                        99441

In [18]:
# Calculating the avg sales amount per customer.

avg_sales_per_customer = (order_year_price_join["payment_value"].sum()) / nr_of_customers
avg_sales_per_customer

   count(distinct customer_id)
0                   396.436312

In [19]:
# How many orders monthly?
# I will use another new table to get the date information.

query_orders_monthly = "SELECT order_id, order_purchase_timestamp FROM olist.orders"
orders_monthly = pd.read_sql_query(query_orders_monthly, db_connection)
orders_monthly

                               order_id order_purchase_timestamp
0      e481f51cbdc54678b7cc49136f2d6af7      2017-10-02 12:56:33
1      53cdb2fc8bc7dce0b6741e2150273451      2018-07-24 22:41:37
2      47770eb9100c2d0c44946d9cf07ec65d      2018-08-08 10:38:49
3      949d5b44dbf5de918fe9c16f97b45f8a      2017-11-18 20:28:06
4      ad21c59c0840e6cb83a9ceb5573f8159      2018-02-13 22:18:39
...                                 ...                      ...
99436  9c5dedf39a927c1b2549525ed64a053c      2017-03-09 10:54:05
99437  63943bddc261676b46f01ca7ac2f7bd8      2018-02-06 13:58:58
99438  83c1379a015df1e13d02aae0204711ab      2017-08-27 16:46:43
99439  11c177c8e97725db2631073c19f07b62      2018-01-08 22:28:27
99440  66dea50a8b16d9b4dee7af250b4be1a5      2018-03-08 21:57:30

[99441 rows x 2 columns]

In [20]:
# Checking the missing values.

order_year_price_join.isna().sum()

order_id                 0
Year                     0
product_id               0
product_category_name    0
total_price              0
order_id                 0
payment_value            0
dtype: int64

In [21]:
# We need to break the datetime to get months. We will add a new column to the table which only has the month inside.

In [22]:
orders_monthly["month"] = orders_monthly["order_purchase_timestamp"].dt.month

In [23]:
orders_monthly

                               order_id order_purchase_timestamp  month
0      e481f51cbdc54678b7cc49136f2d6af7      2017-10-02 12:56:33     10
1      53cdb2fc8bc7dce0b6741e2150273451      2018-07-24 22:41:37      7
2      47770eb9100c2d0c44946d9cf07ec65d      2018-08-08 10:38:49      8
3      949d5b44dbf5de918fe9c16f97b45f8a      2017-11-18 20:28:06     11
4      ad21c59c0840e6cb83a9ceb5573f8159      2018-02-13 22:18:39      2
...                                 ...                      ...    ...
99436  9c5dedf39a927c1b2549525ed64a053c      2017-03-09 10:54:05      3
99437  63943bddc261676b46f01ca7ac2f7bd8      2018-02-06 13:58:58      2
99438  83c1379a015df1e13d02aae0204711ab      2017-08-27 16:46:43      8
99439  11c177c8e97725db2631073c19f07b62      2018-01-08 22:28:27      1
99440  66dea50a8b16d9b4dee7af250b4be1a5      2018-03-08 21:57:30      3

[99441 rows x 3 columns]

In [24]:
# Top categories by sales amount. Here I will join two tables to get necessary information.

query_top_categories = "SELECT * FROM olist.order_payments Inner join olist.order_items on order_payments.order_id = order_items.order_id"
top_categories_first = pd.read_sql_query(query_top_categories, db_connection)
top_categories_first

,order_id,payment_sequential,payment_type,payment_installments,payment_value,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,b81ef226f3fe1789b1e8b2acac839d17,1,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,2018-05-03 00:15:09,79.80,19.53
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39,a9810da82917af2d9aefd1278f1dcfa0,1,a630cc320a8c872f9de830cf121661a3,eaf6d55068dea77334e8477d3878d89e,2018-07-02 13:18:58,17.00,7.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71,25e8ea4e93396b6fa0d3dd708e76c1bd,1,2028bf1b01cafb2d2b1901fca4083222,cc419e0650a3c5ba77189a1882b7556a,2017-12-26 10:52:34,56.99,8.72
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,ba78997921bbcdc1373bb41e913ab953,1,548e5bfe28edceab6b51fa707cc9556f,da8622b14eb17ae2831f4ac5b9dab84a,2017-12-12 13:13:20,89.90,17.88
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45,42fdf880ba16b47b59251dd489d4441a,1,386486367c1f9d4f587a8864ccb6902b,cca3071e3e9bb7d12640c9fbe2301306,2018-05-31 18:14:41,113.57,14.88
...,...,...,...,...,...,...,...,...,...,...,...,...
117596,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31,0406037ad97740d563a178ecc7a2075c,1,1302fd16bdfe85e523940c846370ef2c,a369d693961cb93b61ca2cc518872a85,2018-03-15 04:55:25,297.00,66.31
117597,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80,7b905861d7c825891d6347454ea7863f,1,fb55982be901439613a95940feefd9ee,3d871de0142ce09b7081e2b9d1733cb1,2017-08-24 12:04:56,79.00,17.80
117598,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77,32609bbb3dd69b3c066a6860554a77bf,1,848ef0a103ee21407d1fbd0f7e7ae179,3d621842b2ed28e2b474132480edac3c,2017-11-27 18:46:05,39.99,7.78
117599,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54,b8b61059626efa996a60be9bb9320e10,1,e9c1abcc7126360336d8f56d49041a8c,679769a98cfcc6da877c8486ff1c13f3,2018-08-14 01:45:00,349.00,20.54
117600,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58,28bbae6599b09d39ca406b747b6632b1,1,1cdfaf0cc5abd6063d3a10ae3318f345,da8622b14eb17ae2831f4ac5b9dab84a,2017-12-12 03:50:09,169.90,21.68

In [25]:
# This join is also for finding the top categories by sales.

query_top_categories_new = "SELECT * FROM olist.products Inner join olist.product_category_name_translation on products.product_category_name = product_category_name_translation.product_category_name"
top_categories_second = pd.read_sql_query(query_top_categories_new, db_connection)
top_categories_second

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40,287,1,225.0,16.0,10.0,14.0,perfumaria,perfumery\r
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44,276,1,1000.0,30.0,18.0,20.0,artes,art\r
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46,250,1,154.0,18.0,9.0,15.0,esporte_lazer,sports_leisure\r
3,cef67bcfe19066a932b7673e239eb23d,bebes,27,261,1,371.0,26.0,4.0,26.0,bebes,baby\r
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37,402,4,625.0,20.0,17.0,13.0,utilidades_domesticas,housewares\r
...,...,...,...,...,...,...,...,...,...,...,...
32323,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45,67,2,12300.0,40.0,40.0,40.0,moveis_decoracao,furniture_decor\r
32324,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41,971,1,1700.0,16.0,19.0,16.0,construcao_ferramentas_iluminacao,construction_tools_lights\r
32325,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50,799,1,1400.0,27.0,7.0,27.0,cama_mesa_banho,bed_bath_table\r
32326,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60,156,2,700.0,31.0,13.0,20.0,informatica_acessorios,computers_accessories\r
32327,106392145fca363410d287a815be6de4,cama_mesa_banho,58,309,1,2083.0,12.0,2.0,7.0,cama_mesa_banho,bed_bath_table\r

In [26]:
# Here I will merge the two previous ones together.

top_categories_df = pd.merge(top_categories_first, top_categories_second, on = "product_id")
top_categories_df

,order_id,payment_sequential,payment_type,payment_installments,payment_value,order_id,order_item_id,product_id,seller_id,shipping_limit_date,...,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name,product_category_name_english
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,b81ef226f3fe1789b1e8b2acac839d17,1,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,2018-05-03 00:15:09,...,casa_construcao,57,921,8,800.0,17.0,27.0,17.0,casa_construcao,home_construction\r
1,d86305c284cecff56c7ee9d3fbd4f8d6,1,credit_card,4,93.72,d86305c284cecff56c7ee9d3fbd4f8d6,1,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,2018-04-20 01:10:02,...,casa_construcao,57,921,8,800.0,17.0,27.0,17.0,casa_construcao,home_construction\r
2,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39,a9810da82917af2d9aefd1278f1dcfa0,1,a630cc320a8c872f9de830cf121661a3,eaf6d55068dea77334e8477d3878d89e,2018-07-02 13:18:58,...,automotivo,59,1274,2,150.0,16.0,6.0,11.0,automotivo,auto\r
3,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71,25e8ea4e93396b6fa0d3dd708e76c1bd,1,2028bf1b01cafb2d2b1901fca4083222,cc419e0650a3c5ba77189a1882b7556a,2017-12-26 10:52:34,...,perfumaria,54,1536,2,250.0,20.0,8.0,21.0,perfumaria,perfumery\r
4,1966886b80f14d0588adf6406afb0026,1,debit_card,1,68.89,1966886b80f14d0588adf6406afb0026,1,2028bf1b01cafb2d2b1901fca4083222,cc419e0650a3c5ba77189a1882b7556a,2017-09-01 18:06:59,...,perfumaria,54,1536,2,250.0,20.0,8.0,21.0,perfumaria,perfumery\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115873,6a87a0371f263aa8c1779c2c115c1427,1,credit_card,2,83.09,6a87a0371f263aa8c1779c2c115c1427,1,1f58e3c365e615b33b2b30b068d7578a,2a5b78b41cd05baeac8df54c6606b92c,2017-11-30 17:13:44,...,beleza_saude,58,813,1,600.0,20.0,10.0,15.0,beleza_saude,health_beauty\r
115874,e0657085c2b6297a32f39efa200cdf72,1,credit_card,1,26.37,e0657085c2b6297a32f39efa200cdf72,1,e2336d327209ca849dca5afda036f842,a8739afb32aaa45e01815ca76f76f54b,2018-08-07 23:24:28,...,eletronicos,38,459,1,250.0,18.0,19.0,18.0,eletronicos,electronics\r
115875,9ac048d7ffebba67d54456aa9ec07d7e,1,credit_card,1,60.69,9ac048d7ffebba67d54456aa9ec07d7e,1,0dcb1adbafdcc389972874b01fa249b8,2f74af7a0ee5636f12c2336f9fffed47,2017-11-24 20:09:29,...,esporte_lazer,39,411,3,350.0,23.0,23.0,23.0,esporte_lazer,sports_leisure\r
115876,c45067032fd84f4cf408730ff5205568,1,credit_card,2,198.94,c45067032fd84f4cf408730ff5205568,1,fea2f92877b647dc07ea8e3f4aa2cf3f,406822777a0b9eb5c50e442dd4cd3ec5,2018-05-22 14:30:57,...,brinquedos,35,537,2,7400.0,45.0,29.0,53.0,brinquedos,toys\r
115877,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77,32609bbb3dd69b3c066a6860554a77bf,1,848ef0a103ee21407d1fbd0f7e7ae179,3d621842b2ed28e2b474132480edac3c,2017-11-27 18:46:05,...,automotivo,47,577,2,120.0,16.0,8.0,11.0,automotivo,auto\r

In [27]:
# Dropping unnecessary columns.

top_categories_df.drop(columns = ["payment_sequential", "payment_type", "payment_installments", "order_item_id", "shipping_limit_date", "product_name_length", "product_description_length", "product_photos_qty", "product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"], inplace = True)

top_categories_df

,order_id,payment_value,order_id,product_id,seller_id,price,freight_value,product_category_name,product_category_name,product_category_name_english
0,b81ef226f3fe1789b1e8b2acac839d17,99.33,b81ef226f3fe1789b1e8b2acac839d17,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,79.80,19.53,casa_construcao,casa_construcao,home_construction\r
1,d86305c284cecff56c7ee9d3fbd4f8d6,93.72,d86305c284cecff56c7ee9d3fbd4f8d6,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,79.80,13.92,casa_construcao,casa_construcao,home_construction\r
2,a9810da82917af2d9aefd1278f1dcfa0,24.39,a9810da82917af2d9aefd1278f1dcfa0,a630cc320a8c872f9de830cf121661a3,eaf6d55068dea77334e8477d3878d89e,17.00,7.39,automotivo,automotivo,auto\r
3,25e8ea4e93396b6fa0d3dd708e76c1bd,65.71,25e8ea4e93396b6fa0d3dd708e76c1bd,2028bf1b01cafb2d2b1901fca4083222,cc419e0650a3c5ba77189a1882b7556a,56.99,8.72,perfumaria,perfumaria,perfumery\r
4,1966886b80f14d0588adf6406afb0026,68.89,1966886b80f14d0588adf6406afb0026,2028bf1b01cafb2d2b1901fca4083222,cc419e0650a3c5ba77189a1882b7556a,56.99,11.90,perfumaria,perfumaria,perfumery\r
...,...,...,...,...,...,...,...,...,...,...
115873,6a87a0371f263aa8c1779c2c115c1427,83.09,6a87a0371f263aa8c1779c2c115c1427,1f58e3c365e615b33b2b30b068d7578a,2a5b78b41cd05baeac8df54c6606b92c,74.82,8.27,beleza_saude,beleza_saude,health_beauty\r
115874,e0657085c2b6297a32f39efa200cdf72,26.37,e0657085c2b6297a32f39efa200cdf72,e2336d327209ca849dca5afda036f842,a8739afb32aaa45e01815ca76f76f54b,18.98,7.39,eletronicos,eletronicos,electronics\r
115875,9ac048d7ffebba67d54456aa9ec07d7e,60.69,9ac048d7ffebba67d54456aa9ec07d7e,0dcb1adbafdcc389972874b01fa249b8,2f74af7a0ee5636f12c2336f9fffed47,44.90,15.79,esporte_lazer,esporte_lazer,sports_leisure\r
115876,c45067032fd84f4cf408730ff5205568,198.94,c45067032fd84f4cf408730ff5205568,fea2f92877b647dc07ea8e3f4aa2cf3f,406822777a0b9eb5c50e442dd4cd3ec5,179.80,19.14,brinquedos,brinquedos,toys\r
115877,32609bbb3dd69b3c066a6860554a77bf,47.77,32609bbb3dd69b3c066a6860554a77bf,848ef0a103ee21407d1fbd0f7e7ae179,3d621842b2ed28e2b474132480edac3c,39.99,7.78,automotivo,automotivo,auto\r

In [28]:
# Checking for missing values.

top_categories_df.isna().sum()

order_id                         0
payment_value                    0
order_id                         0
product_id                       0
seller_id                        0
price                            0
freight_value                    0
product_category_name            0
product_category_name            0
product_category_name_english    0
dtype: int64

In [29]:
# A bit of descriptive statistics about the table.

top_categories_df.describe()

       payment_value          price  freight_value
count  115878.000000  115878.000000  115878.000000
mean      173.016648     120.924716      20.075868
std       268.111067     184.217144      15.870900
min         0.000000       0.850000       0.000000
25%        61.010000      39.900000      13.080000
50%       108.200000      74.900000      16.320000
75%       189.720000     134.900000      21.220000
max     13664.100000    6735.000000     409.680000

In [30]:
# Here is the top 10 categories by sales amount.
# Grouping by category using the sum of payment value. 
# Making two new columns with total value and the percentage.

category_sold = top_categories_df.groupby(["product_category_name_english"], as_index=False)["payment_value"].count().rename(columns = {"payment_value":"total_value"})
category_sold["%"] = round((category_sold["total_value"] / category_sold["total_value"].sum()) * 100, 2)
category_sold10 = category_sold.nlargest(10, "total_value")
category_sold10

   product_category_name_english  total_value      %
7               bed_bath_table\r        11823  10.20
43               health_beauty\r         9972   8.61
65              sports_leisure\r         8945   7.72
39             furniture_decor\r         8744   7.55
15       computers_accessories\r         8082   6.97
49                  housewares\r         7355   6.35
70               watches_gifts\r         6201   5.35
68                   telephony\r         4721   4.07
42                garden_tools\r         4574   3.95
5                         auto\r         4379   3.78

In [31]:
# Joining the tables needed for top 10 sellers.

query_for_top_sellers = "SELECT * FROM olist.order_items inner join olist.order_payments on order_items.order_id = order_payments.order_id"
top_sellers_first = pd.read_sql_query(query_for_top_sellers, db_connection)
top_sellers_first

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,2018-05-03 00:15:09,79.80,19.53,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,a630cc320a8c872f9de830cf121661a3,eaf6d55068dea77334e8477d3878d89e,2018-07-02 13:18:58,17.00,7.39,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,2028bf1b01cafb2d2b1901fca4083222,cc419e0650a3c5ba77189a1882b7556a,2017-12-26 10:52:34,56.99,8.72,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,548e5bfe28edceab6b51fa707cc9556f,da8622b14eb17ae2831f4ac5b9dab84a,2017-12-12 13:13:20,89.90,17.88,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,386486367c1f9d4f587a8864ccb6902b,cca3071e3e9bb7d12640c9fbe2301306,2018-05-31 18:14:41,113.57,14.88,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...,...,...,...,...,...,...,...
117596,0406037ad97740d563a178ecc7a2075c,1,1302fd16bdfe85e523940c846370ef2c,a369d693961cb93b61ca2cc518872a85,2018-03-15 04:55:25,297.00,66.31,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
117597,7b905861d7c825891d6347454ea7863f,1,fb55982be901439613a95940feefd9ee,3d871de0142ce09b7081e2b9d1733cb1,2017-08-24 12:04:56,79.00,17.80,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
117598,32609bbb3dd69b3c066a6860554a77bf,1,848ef0a103ee21407d1fbd0f7e7ae179,3d621842b2ed28e2b474132480edac3c,2017-11-27 18:46:05,39.99,7.78,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
117599,b8b61059626efa996a60be9bb9320e10,1,e9c1abcc7126360336d8f56d49041a8c,679769a98cfcc6da877c8486ff1c13f3,2018-08-14 01:45:00,349.00,20.54,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
117600,28bbae6599b09d39ca406b747b6632b1,1,1cdfaf0cc5abd6063d3a10ae3318f345,da8622b14eb17ae2831f4ac5b9dab84a,2017-12-12 03:50:09,169.90,21.68,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [32]:
# Here is another column needed for the top 10 sellers.

query_for_top_sellers_two = "SELECT seller_id FROM olist.sellers"
top_sellers_second = pd.read_sql_query(query_for_top_sellers_two, db_connection)
top_sellers_second

                             seller_id
0     3442f8959a84dea7ee197c632cb2df15
1     d1b65fc7debc3361ea86b5f14c68d2e2
2     ce3ad9de960102d0677a81f5d0bb7b2d
3     c0f3eea2e14555b6faeea3dd58c1b1c3
4     51a04a8a6bdcb23deccc82b0b80742cf
...                                ...
3090  98dddbc4601dd4443ca174359b237166
3091  f8201cab383e484733266d1906e2fdfa
3092  74871d19219c7d518d0090283e03c137
3093  e603cf3fec55f8697c9059638d6c8eb5
3094  9e25199f6ef7e7c347120ff175652c3b

[3095 rows x 1 columns]

In [33]:
# Merging them together.

top_sellers_df = pd.merge(top_sellers_first, top_sellers_second, on = "seller_id")
top_sellers_df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,2018-05-03 00:15:09,79.80,19.53,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,5308fdab519f7478ef64894128fbbee4,1,1b93af229a5768eaaed2064722b1c1dc,213b25e6f54661939f11710a6fddb871,2018-06-11 14:11:27,129.95,18.79,5308fdab519f7478ef64894128fbbee4,1,credit_card,1,36.07
2,bb54e9bf4bdb6c6391a7c6b517748b9f,1,71540d636652fc682032d3b3c0a180c1,213b25e6f54661939f11710a6fddb871,2018-06-04 13:50:16,113.85,11.07,bb54e9bf4bdb6c6391a7c6b517748b9f,1,credit_card,2,124.92
3,611aef870c45d1ba9c852bab44e25f36,1,23fa83f2ca477677a4f444043bb525e0,213b25e6f54661939f11710a6fddb871,2018-06-20 20:32:25,79.90,18.66,611aef870c45d1ba9c852bab44e25f36,1,credit_card,3,98.56
4,fcc92ad75bbb8728d4d4488325ffc907,3,2584d5fa1ac792c8c26168eca51bb4d0,213b25e6f54661939f11710a6fddb871,2018-03-29 13:32:04,129.95,59.76,fcc92ad75bbb8728d4d4488325ffc907,1,credit_card,10,297.95
...,...,...,...,...,...,...,...,...,...,...,...,...
117596,ef8c51f3610d990552701e064e71291f,1,e245d0b2b8c02f14e840abef856cc149,8ec76bb0965af3f007692b26fa9d6623,2017-11-23 14:30:38,1999.00,29.75,ef8c51f3610d990552701e064e71291f,1,credit_card,1,2028.75
117597,76a8885167de6cebce9e33f8abc9f149,1,3954b1f7435552939dd7fdc5cbfea1e4,c7246702dc991a06d788120dc7544391,2018-02-28 04:31:25,54.86,17.66,76a8885167de6cebce9e33f8abc9f149,1,boleto,1,72.52
117598,24f6d178b92691453bffa42151277fbf,1,4b6c0fa189ae4c4c7a4d357ff185512c,52831e5990d0771cb4951d6f12928167,2018-08-13 06:35:20,65.00,13.12,24f6d178b92691453bffa42151277fbf,1,boleto,1,78.12
117599,1b88975e652b474825e1d68839f836be,1,ee13af1ea8a18c0c1862a20778da9eb4,e116c7455dd26a4d8c3e92532583905f,2018-04-11 13:08:11,18.38,7.39,1b88975e652b474825e1d68839f836be,1,credit_card,1,51.54
117600,1b88975e652b474825e1d68839f836be,2,ee13af1ea8a18c0c1862a20778da9eb4,e116c7455dd26a4d8c3e92532583905f,2018-04-11 13:08:11,18.38,7.39,1b88975e652b474825e1d68839f836be,1,credit_card,1,51.54

In [34]:
# Dropping unnecessary columns.

top_sellers_df.drop(columns = ["order_item_id", "shipping_limit_date", "payment_sequential", "payment_type", "payment_installments"], inplace = True)

top_sellers_df

,order_id,product_id,seller_id,price,freight_value,order_id,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,79.80,19.53,b81ef226f3fe1789b1e8b2acac839d17,99.33
1,5308fdab519f7478ef64894128fbbee4,1b93af229a5768eaaed2064722b1c1dc,213b25e6f54661939f11710a6fddb871,129.95,18.79,5308fdab519f7478ef64894128fbbee4,36.07
2,bb54e9bf4bdb6c6391a7c6b517748b9f,71540d636652fc682032d3b3c0a180c1,213b25e6f54661939f11710a6fddb871,113.85,11.07,bb54e9bf4bdb6c6391a7c6b517748b9f,124.92
3,611aef870c45d1ba9c852bab44e25f36,23fa83f2ca477677a4f444043bb525e0,213b25e6f54661939f11710a6fddb871,79.90,18.66,611aef870c45d1ba9c852bab44e25f36,98.56
4,fcc92ad75bbb8728d4d4488325ffc907,2584d5fa1ac792c8c26168eca51bb4d0,213b25e6f54661939f11710a6fddb871,129.95,59.76,fcc92ad75bbb8728d4d4488325ffc907,297.95
...,...,...,...,...,...,...,...
117596,ef8c51f3610d990552701e064e71291f,e245d0b2b8c02f14e840abef856cc149,8ec76bb0965af3f007692b26fa9d6623,1999.00,29.75,ef8c51f3610d990552701e064e71291f,2028.75
117597,76a8885167de6cebce9e33f8abc9f149,3954b1f7435552939dd7fdc5cbfea1e4,c7246702dc991a06d788120dc7544391,54.86,17.66,76a8885167de6cebce9e33f8abc9f149,72.52
117598,24f6d178b92691453bffa42151277fbf,4b6c0fa189ae4c4c7a4d357ff185512c,52831e5990d0771cb4951d6f12928167,65.00,13.12,24f6d178b92691453bffa42151277fbf,78.12
117599,1b88975e652b474825e1d68839f836be,ee13af1ea8a18c0c1862a20778da9eb4,e116c7455dd26a4d8c3e92532583905f,18.38,7.39,1b88975e652b474825e1d68839f836be,51.54
117600,1b88975e652b474825e1d68839f836be,ee13af1ea8a18c0c1862a20778da9eb4,e116c7455dd26a4d8c3e92532583905f,18.38,7.39,1b88975e652b474825e1d68839f836be,51.54

In [68]:
# Checking missing values.

top_sellers_df.isna().sum()

order_id         0
product_id       0
seller_id        0
price            0
freight_value    0
order_id         0
payment_value    0
dtype: int64

In [69]:
# Small descriptive table.

top_sellers_df.describe()

               price  freight_value  payment_value
count  117601.000000  117601.000000  117601.000000
mean      120.824783      20.045990     172.686753
std       184.479323      15.861315     267.592358
min         0.850000       0.000000       0.000000
25%        39.900000      13.080000      60.870000
50%        74.900000      16.290000     108.210000
75%       134.900000      21.190000     189.260000
max      6735.000000     409.680000   13664.100000

In [35]:
# Joining tables needed for top markets.

query_top_markets = "SELECT * FROM olist.order_payments inner join olist.order_customer_items_paid on order_payments.order_id = order_customer_items_paid.order_id"
top_markets = pd.read_sql_query(query_top_markets, db_connection)
top_markets

,order_id,payment_sequential,payment_type,payment_installments,payment_value,order_id,customer_city,customer_id,order_status,order_item_id,price,freight_value,final_price
0,f11b36b3bc7bacf06deef862ed611f02,1,boleto,1,124.76,f11b36b3bc7bacf06deef862ed611f02,guaruja,ae8db0691449a44352e7d535ddf78c5e,delivered,1,109.90,14.86,124.76
1,0daf1f0e67b534ad873ba61c5d6ad7d3,1,credit_card,5,153.20,0daf1f0e67b534ad873ba61c5d6ad7d3,rio de janeiro,1681471e9172d7e12ba08e9ac9e8628b,delivered,1,135.00,18.20,153.20
2,4a5cc9b4e332e03d76bf553a7f2fa5d3,1,credit_card,3,176.78,4a5cc9b4e332e03d76bf553a7f2fa5d3,belford roxo,a4a00c41b5e3ed88bf0e0bb96576c2b2,delivered,1,159.90,16.88,176.78
3,47770eb9100c2d0c44946d9cf07ec65d,1,credit_card,3,179.12,47770eb9100c2d0c44946d9cf07ec65d,vianopolis,41ce2a54c0b03bf3443c3d931a367089,delivered,1,159.90,19.22,179.12
4,5f69f6bf68dce110479aa0bb515b47c8,1,credit_card,1,38.72,5f69f6bf68dce110479aa0bb515b47c8,ribeirao pires,4cd274ce8ba240b1cff6480fa9911df1,delivered,1,30.00,8.72,38.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116277,b73095e1b4a660f696d90a6f5446b58c,1,credit_card,1,64.71,b73095e1b4a660f696d90a6f5446b58c,cotia,f6f53faac556fb2d6b5f26f80317fe3c,delivered,1,55.99,8.72,64.71
116278,c205abf27ff07fddd3fa9a67037138e5,1,boleto,1,2315.83,c205abf27ff07fddd3fa9a67037138e5,nova friburgo,b7984401569369a9695e7d3f5c66c4d1,delivered,1,2199.00,116.83,2315.83
116279,847c66c29ee30c07503066b3d254f993,1,debit_card,1,112.67,847c66c29ee30c07503066b3d254f993,sao mateus do sul,371e25352587a8bf2f77b6739406281d,delivered,1,88.90,23.77,112.67
116280,c8c684d11191f71210df7c6a22115def,1,credit_card,1,85.73,c8c684d11191f71210df7c6a22115def,brasilia,a072679ac4ac4d56f1aaff9e763836ed,delivered,1,69.00,16.73,85.73
116281,6e9f8d6156d8c37f0e0e6351908de639,1,credit_card,3,75.59,6e9f8d6156d8c37f0e0e6351908de639,sao paulo,3f7029d9b98a47370cd5f3a97adcbccd,delivered,1,61.80,13.79,75.59

In [36]:
# Dropping unnecessary columns.

top_markets.drop(columns = ["payment_sequential", "payment_type", "payment_installments", "order_status"], inplace = True)

top_markets

,order_id,payment_value,order_id,customer_city,customer_id,order_item_id,price,freight_value,final_price
0,f11b36b3bc7bacf06deef862ed611f02,124.76,f11b36b3bc7bacf06deef862ed611f02,guaruja,ae8db0691449a44352e7d535ddf78c5e,1,109.90,14.86,124.76
1,0daf1f0e67b534ad873ba61c5d6ad7d3,153.20,0daf1f0e67b534ad873ba61c5d6ad7d3,rio de janeiro,1681471e9172d7e12ba08e9ac9e8628b,1,135.00,18.20,153.20
2,4a5cc9b4e332e03d76bf553a7f2fa5d3,176.78,4a5cc9b4e332e03d76bf553a7f2fa5d3,belford roxo,a4a00c41b5e3ed88bf0e0bb96576c2b2,1,159.90,16.88,176.78
3,47770eb9100c2d0c44946d9cf07ec65d,179.12,47770eb9100c2d0c44946d9cf07ec65d,vianopolis,41ce2a54c0b03bf3443c3d931a367089,1,159.90,19.22,179.12
4,5f69f6bf68dce110479aa0bb515b47c8,38.72,5f69f6bf68dce110479aa0bb515b47c8,ribeirao pires,4cd274ce8ba240b1cff6480fa9911df1,1,30.00,8.72,38.72
...,...,...,...,...,...,...,...,...,...
116277,b73095e1b4a660f696d90a6f5446b58c,64.71,b73095e1b4a660f696d90a6f5446b58c,cotia,f6f53faac556fb2d6b5f26f80317fe3c,1,55.99,8.72,64.71
116278,c205abf27ff07fddd3fa9a67037138e5,2315.83,c205abf27ff07fddd3fa9a67037138e5,nova friburgo,b7984401569369a9695e7d3f5c66c4d1,1,2199.00,116.83,2315.83
116279,847c66c29ee30c07503066b3d254f993,112.67,847c66c29ee30c07503066b3d254f993,sao mateus do sul,371e25352587a8bf2f77b6739406281d,1,88.90,23.77,112.67
116280,c8c684d11191f71210df7c6a22115def,85.73,c8c684d11191f71210df7c6a22115def,brasilia,a072679ac4ac4d56f1aaff9e763836ed,1,69.00,16.73,85.73
116281,6e9f8d6156d8c37f0e0e6351908de639,75.59,6e9f8d6156d8c37f0e0e6351908de639,sao paulo,3f7029d9b98a47370cd5f3a97adcbccd,1,61.80,13.79,75.59

In [72]:
# Checking missing values.

top_markets.isna().sum()

order_id         0
payment_value    0
order_id         0
customer_city    0
customer_id      0
order_item_id    0
price            0
freight_value    0
final_price      0
dtype: int64

In [70]:
# Small descriptive table.

top_markets.describe()

,payment_value,order_item_id,price,freight_value,final_price
count,116282.000000,116282.000000,116282.000000,116282.000000,116282.000000
mean,171.768079,1.195215,120.219364,20.029171,140.248535
std,265.495536,0.696940,183.038418,15.791651,190.132718
min,0.000000,1.000000,0.850000,0.000000,6.080000
25%,60.850000,1.000000,39.900000,13.080000,55.242500
50%,108.110000,1.000000,74.900000,16.320000,91.960000
75%,188.890000,1.000000,134.000000,21.190000,157.360000
max,13664.100000,21.000000,6735.000000,409.680000,6929.310000

In [ ]:
# Here I will save new joined tables as csv files.

In [38]:
# order_year_price_join.to_csv(r'Data\year and price df.csv', index = False)

In [39]:
# orders_monthly.to_csv(r'Data\orders monthly df.csv', index = False)

In [40]:
# top_categories_df.to_csv(r'Data\top categories df.csv', index = False)

In [41]:
# top_sellers_df.to_csv(r'Data\top sellers df.csv', index = False)

In [42]:
# top_markets.to_csv(r'Data\top markets df.csv', index = False)

#### Here I will start joining, exploring and cleaning all tables which I need for for the second dashboard.

In [43]:
# I will make a table for delivery times, customers and their location.

In [44]:
# First, geolocation information.

query_geolocation = "SELECT * FROM olist.geolocation"
geolocation_df = pd.read_sql_query(query_geolocation, db_connection)
geolocation_df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [45]:
# Customer information.

query_order_delivery = "SELECT * FROM olist.orders inner join olist.customers on orders.customer_id=customers.customer_id"
order_delivery_df = pd.read_sql_query(query_order_delivery, db_connection)
order_delivery_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 10:38:49,2018-08-08 10:55:23,2018-08-08 15:50:00,2018-08-17 20:06:29,2018-09-04 02:00:00,41ce2a54c0b03bf3443c3d931a367089,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
1,82566a660a982b15fb86e904c8d32918,d3e3b74c766bc6214e0c830b17ee2341,delivered,2018-06-07 12:06:19,2018-06-09 05:13:12,2018-06-11 15:29:00,2018-06-19 14:05:52,2018-07-18 02:00:00,d3e3b74c766bc6214e0c830b17ee2341,e97109680b052ee858d93a539597bba7,35400,ouro preto,MG
2,dcb36b511fcac050b97cd5c05de84dc3,3b6828a50ffe546942b7a473d70ac0fc,delivered,2018-06-07 21:03:12,2018-06-13 01:31:02,2018-06-11 16:54:00,2018-06-21 17:34:32,2018-07-04 02:00:00,3b6828a50ffe546942b7a473d70ac0fc,ccafc1c3f270410521c3c6f3b249870f,74820,goiania,GO
3,83018ec114eee8641c97e08f7b4e926f,7f8c8b9c2ae27bf3300f670c3d478be8,delivered,2017-10-26 17:54:26,2017-10-26 18:08:14,2017-10-26 23:46:53,2017-11-08 23:22:00,2017-11-23 01:00:00,7f8c8b9c2ae27bf3300f670c3d478be8,634f09f6075fe9032e6c19609ffe995a,44024,feira de santana,BA
4,203096f03d82e0dffbc41ebc2e2bcfb7,d2b091571da224a1b36412c18bc3bbfe,delivered,2017-09-18 16:31:30,2017-09-19 06:04:09,2017-10-06 19:50:03,2017-10-10 00:23:46,2017-09-28 02:00:00,d2b091571da224a1b36412c18bc3bbfe,d699688533772c15a061e8ce81cb56df,4001,sao paulo,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9692f3f8431de918c3daf5fd26a66668,1d2b80dfe191a690569d02080deec210,delivered,2018-04-25 01:09:11,2018-04-25 01:29:43,2018-04-26 17:18:00,2018-05-09 00:07:50,2018-05-18 02:00:00,1d2b80dfe191a690569d02080deec210,1832d669c517f79b6f387a45cebd0fa9,88990,praia grande,SC
99437,6e1d6161b9c3022a013add19495f1018,c4db641e1443376cfe2dbd3906aa67b8,delivered,2018-06-07 20:41:43,2018-06-08 04:56:11,2018-06-11 11:47:00,2018-06-25 11:41:53,2018-07-17 02:00:00,c4db641e1443376cfe2dbd3906aa67b8,b0428b000a682156b8856ede42ffa1f1,95115,caxias do sul,RS
99438,b09b18fbceead5d238576060df8d45cc,ff1d1612f46b4241ffbc70a45912de1d,delivered,2018-05-22 18:40:05,2018-05-22 18:58:20,2018-05-24 16:47:00,2018-05-25 23:51:43,2018-06-01 02:00:00,ff1d1612f46b4241ffbc70a45912de1d,94dc3af7214d9d6b063c5efc5637bcdd,18035,sorocaba,SP
99439,9b7fd5b0ef330dcbbb6397e5971faeec,4442f152efb5f70fd55dcd6267d1afa4,delivered,2017-05-17 17:48:44,2017-05-17 18:15:16,2017-05-18 15:30:39,2017-05-29 17:18:32,2017-06-08 02:00:00,4442f152efb5f70fd55dcd6267d1afa4,45265f9d6c53836d632f904a3c1d0f1c,13604,araras,SP
99440,87b4c933f31145a28413b39d880ad6c3,ddfdf5e9b2659e1fbd073404c9b762e0,delivered,2018-03-02 18:12:05,2018-03-02 18:49:24,2018-03-06 22:23:32,2018-03-16 18:21:55,2018-03-21 01:00:00,ddfdf5e9b2659e1fbd073404c9b762e0,490c3c53ca927221bccbb00706afbcf9,2042,sao paulo,SP

In [46]:
# Renaming the customer zip code column so it will match with the geolocation table.

order_delivery_df = order_delivery_df.rename(columns={"customer_zip_code_prefix":"geolocation_zip_code_prefix"})
order_delivery_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,geolocation_zip_code_prefix,customer_city,customer_state
0,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 10:38:49,2018-08-08 10:55:23,2018-08-08 15:50:00,2018-08-17 20:06:29,2018-09-04 02:00:00,41ce2a54c0b03bf3443c3d931a367089,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
1,82566a660a982b15fb86e904c8d32918,d3e3b74c766bc6214e0c830b17ee2341,delivered,2018-06-07 12:06:19,2018-06-09 05:13:12,2018-06-11 15:29:00,2018-06-19 14:05:52,2018-07-18 02:00:00,d3e3b74c766bc6214e0c830b17ee2341,e97109680b052ee858d93a539597bba7,35400,ouro preto,MG
2,dcb36b511fcac050b97cd5c05de84dc3,3b6828a50ffe546942b7a473d70ac0fc,delivered,2018-06-07 21:03:12,2018-06-13 01:31:02,2018-06-11 16:54:00,2018-06-21 17:34:32,2018-07-04 02:00:00,3b6828a50ffe546942b7a473d70ac0fc,ccafc1c3f270410521c3c6f3b249870f,74820,goiania,GO
3,83018ec114eee8641c97e08f7b4e926f,7f8c8b9c2ae27bf3300f670c3d478be8,delivered,2017-10-26 17:54:26,2017-10-26 18:08:14,2017-10-26 23:46:53,2017-11-08 23:22:00,2017-11-23 01:00:00,7f8c8b9c2ae27bf3300f670c3d478be8,634f09f6075fe9032e6c19609ffe995a,44024,feira de santana,BA
4,203096f03d82e0dffbc41ebc2e2bcfb7,d2b091571da224a1b36412c18bc3bbfe,delivered,2017-09-18 16:31:30,2017-09-19 06:04:09,2017-10-06 19:50:03,2017-10-10 00:23:46,2017-09-28 02:00:00,d2b091571da224a1b36412c18bc3bbfe,d699688533772c15a061e8ce81cb56df,4001,sao paulo,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9692f3f8431de918c3daf5fd26a66668,1d2b80dfe191a690569d02080deec210,delivered,2018-04-25 01:09:11,2018-04-25 01:29:43,2018-04-26 17:18:00,2018-05-09 00:07:50,2018-05-18 02:00:00,1d2b80dfe191a690569d02080deec210,1832d669c517f79b6f387a45cebd0fa9,88990,praia grande,SC
99437,6e1d6161b9c3022a013add19495f1018,c4db641e1443376cfe2dbd3906aa67b8,delivered,2018-06-07 20:41:43,2018-06-08 04:56:11,2018-06-11 11:47:00,2018-06-25 11:41:53,2018-07-17 02:00:00,c4db641e1443376cfe2dbd3906aa67b8,b0428b000a682156b8856ede42ffa1f1,95115,caxias do sul,RS
99438,b09b18fbceead5d238576060df8d45cc,ff1d1612f46b4241ffbc70a45912de1d,delivered,2018-05-22 18:40:05,2018-05-22 18:58:20,2018-05-24 16:47:00,2018-05-25 23:51:43,2018-06-01 02:00:00,ff1d1612f46b4241ffbc70a45912de1d,94dc3af7214d9d6b063c5efc5637bcdd,18035,sorocaba,SP
99439,9b7fd5b0ef330dcbbb6397e5971faeec,4442f152efb5f70fd55dcd6267d1afa4,delivered,2017-05-17 17:48:44,2017-05-17 18:15:16,2017-05-18 15:30:39,2017-05-29 17:18:32,2017-06-08 02:00:00,4442f152efb5f70fd55dcd6267d1afa4,45265f9d6c53836d632f904a3c1d0f1c,13604,araras,SP
99440,87b4c933f31145a28413b39d880ad6c3,ddfdf5e9b2659e1fbd073404c9b762e0,delivered,2018-03-02 18:12:05,2018-03-02 18:49:24,2018-03-06 22:23:32,2018-03-16 18:21:55,2018-03-21 01:00:00,ddfdf5e9b2659e1fbd073404c9b762e0,490c3c53ca927221bccbb00706afbcf9,2042,sao paulo,SP

In [47]:
# Merging two previous tables together.

location_delivery_df = pd.merge(order_delivery_df, geolocation_df, on = "geolocation_zip_code_prefix", how = "right")
location_delivery_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,geolocation_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,14c7dfb8e61a3df193f153c72a99a3e5,19ee522d0dd140702062bb89e4820e19,delivered,2018-05-16 14:12:10,2018-05-16 14:39:24,2018-06-04 09:18:00,2018-06-05 22:07:46,2018-06-04 02:00:00,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
1,e260cc3baa8f4aae3fab201ef60e1127,05b005e82f3f2dcc41b5504f00484e50,delivered,2018-08-17 12:59:04,2018-08-18 05:09:46,2018-08-20 15:43:00,2018-08-21 19:51:40,2018-08-22 02:00:00,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
2,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
3,e2a04e95ea3fda8f64fc1edeb4e04c34,e41ca8cd2c3ae3aec718fa68a2ff49d4,delivered,2018-05-24 16:20:48,2018-05-24 17:55:22,2018-05-25 17:25:00,2018-05-29 15:56:55,2018-06-12 02:00:00,e41ca8cd2c3ae3aec718fa68a2ff49d4,6f8e7d40046694539c87b98cb5096a28,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP
4,29743080b6ab006d94b00399ab7b47f0,ba67a2ef88a5d6b25536515bdfd1e8b8,delivered,2017-11-30 15:47:28,2017-11-30 15:57:24,2017-12-02 06:02:14,2017-12-05 21:28:39,2017-12-18 01:00:00,ba67a2ef88a5d6b25536515bdfd1e8b8,2d07268992081121daea23b365799b4c,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15115314,7b25b2356eef14019a831a9c9636c146,4e37f00d687d9dbb17009dea9767b1e6,delivered,2017-08-13 01:12:48,2017-08-13 01:25:47,2017-08-15 21:26:45,2017-08-21 21:57:21,2017-09-12 02:00:00,4e37f00d687d9dbb17009dea9767b1e6,2c764c0bf39fab6c7681ae5f92b99ccf,99950,tapejara,RS,-28.070104,-52.018658,tapejara,RS
15115315,d21cecb198b9591dea2251849eed9852,419c17291ce5dbe142d80c0e75c8dc3b,delivered,2017-02-13 23:25:42,2017-02-15 04:03:32,2017-02-16 10:08:20,2017-02-23 15:43:49,2017-03-16 01:00:00,419c17291ce5dbe142d80c0e75c8dc3b,2b63b9bd77ab9906889f9c5a1039bf00,99950,tapejara,RS,-28.070104,-52.018658,tapejara,RS
15115316,8729a8f7c27d03afe731463091711489,11ec73ddb032be97ae8f0219cce6cfa3,delivered,2016-10-05 19:16:17,2016-10-06 17:52:09,2016-10-30 15:02:20,2016-11-01 19:18:59,2016-12-01 01:00:00,11ec73ddb032be97ae8f0219cce6cfa3,6b4f7aec68e9574e9383d72653ae0ea1,99950,tapejara,RS,-28.070104,-52.018658,tapejara,RS
15115317,b29bd22b23303a9d539e7dafa573e282,20a51aff4b6703b2097dd814ab6ec6ca,delivered,2017-07-03 18:27:17,2017-07-03 18:44:44,2017-07-05 17:04:27,2017-07-12 21:44:47,2017-07-27 02:00:00,20a51aff4b6703b2097dd814ab6ec6ca,c4198aac60ba445fa469495085d7b0c3,99950,tapejara,RS,-28.070104,-52.018658,tapejara,RS
15115318,de0a003330b41a595051ce9986bc7799,8e1026d431a055944bb4b806ae45ce7c,delivered,2018-05-16 21:57:42,2018-05-16 22:16:26,2018-05-17 17:19:00,2018-05-21 17:11:48,2018-06-01 02:00:00,8e1026d431a055944bb4b806ae45ce7c,e2eab1ff0a556609fefad08716e20165,99950,tapejara,RS,-28.070104,-52.018658,tapejara,RS

In [48]:
# The previously made table needs cleaning so it will have the correct information.
# I will delete all duplicates for unique customer id-s. It will show only one purchase per customer.

location_delivery_unique = location_delivery_df.drop_duplicates("customer_unique_id").reset_index(drop=True)
location_delivery_unique

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,geolocation_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,14c7dfb8e61a3df193f153c72a99a3e5,19ee522d0dd140702062bb89e4820e19,delivered,2018-05-16 14:12:10,2018-05-16 14:39:24,2018-06-04 09:18:00,2018-06-05 22:07:46,2018-06-04 02:00:00,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
1,e260cc3baa8f4aae3fab201ef60e1127,05b005e82f3f2dcc41b5504f00484e50,delivered,2018-08-17 12:59:04,2018-08-18 05:09:46,2018-08-20 15:43:00,2018-08-21 19:51:40,2018-08-22 02:00:00,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
2,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
3,e2a04e95ea3fda8f64fc1edeb4e04c34,e41ca8cd2c3ae3aec718fa68a2ff49d4,delivered,2018-05-24 16:20:48,2018-05-24 17:55:22,2018-05-25 17:25:00,2018-05-29 15:56:55,2018-06-12 02:00:00,e41ca8cd2c3ae3aec718fa68a2ff49d4,6f8e7d40046694539c87b98cb5096a28,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP
4,29743080b6ab006d94b00399ab7b47f0,ba67a2ef88a5d6b25536515bdfd1e8b8,delivered,2017-11-30 15:47:28,2017-11-30 15:57:24,2017-12-02 06:02:14,2017-12-05 21:28:39,2017-12-18 01:00:00,ba67a2ef88a5d6b25536515bdfd1e8b8,2d07268992081121daea23b365799b4c,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95824,06cc571b0a86a28fa19139270e4d3aea,6c94244091c0ea6ecf242283e1455871,delivered,2018-04-11 19:29:35,2018-04-12 13:31:23,2018-04-13 22:36:32,2018-04-25 20:47:12,2018-05-16 02:00:00,6c94244091c0ea6ecf242283e1455871,6e7932d65c10afc9c622770cdf6e9d1c,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS
95825,af541cbd9810aaa8b64b870516d507a6,62cedeefcf7566f584f0c424138b5247,delivered,2017-11-26 15:21:33,2017-11-28 04:33:02,2017-11-30 17:38:42,2017-12-11 23:05:08,2017-12-28 01:00:00,62cedeefcf7566f584f0c424138b5247,5f60060ca9a1a7d85838252f62dacc3c,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS
95826,365e182cfed9e7f3b3b0bd04ce2251e2,d6991eab03850ca580267c3608a42ca6,delivered,2017-11-25 10:56:09,2017-11-25 11:14:40,2017-11-30 19:37:17,2017-12-20 18:17:08,2017-12-28 01:00:00,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS
95827,a07b4171d5e4ccbc057d6321244933cb,3ab8bc00f8740d54afc4c771fb6c7f69,delivered,2017-12-28 10:04:50,2017-12-29 03:09:23,2018-01-02 20:42:32,2018-01-15 19:12:41,2018-01-23 01:00:00,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS,-28.345143,-51.876926,ciriaco,RS
95828,6a6aab31a11f630e4907ec3bb0ac8958,586068537ced131bb1950d007e218c6f,delivered,2017-03-27 12:02:36,2017-03-28 05:45:10,2017-03-28 20:39:47,2017-04-12 17:14:31,2017-04-20 02:00:00,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,99920,erebango,RS,-27.858716,-52.300403,erebango,RS

In [49]:
# I will make a new column to know if the order was delayed or not, using the date-time columns.

location_delivery_unique["if_delayed"] = location_delivery_unique["order_delivered_customer_date"] > location_delivery_unique["order_estimated_delivery_date"]

In [50]:
# Checking the outcome.

location_delivery_unique

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,geolocation_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,if_delayed
0,14c7dfb8e61a3df193f153c72a99a3e5,19ee522d0dd140702062bb89e4820e19,delivered,2018-05-16 14:12:10,2018-05-16 14:39:24,2018-06-04 09:18:00,2018-06-05 22:07:46,2018-06-04 02:00:00,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP,True
1,e260cc3baa8f4aae3fab201ef60e1127,05b005e82f3f2dcc41b5504f00484e50,delivered,2018-08-17 12:59:04,2018-08-18 05:09:46,2018-08-20 15:43:00,2018-08-21 19:51:40,2018-08-22 02:00:00,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP,False
2,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP,False
3,e2a04e95ea3fda8f64fc1edeb4e04c34,e41ca8cd2c3ae3aec718fa68a2ff49d4,delivered,2018-05-24 16:20:48,2018-05-24 17:55:22,2018-05-25 17:25:00,2018-05-29 15:56:55,2018-06-12 02:00:00,e41ca8cd2c3ae3aec718fa68a2ff49d4,6f8e7d40046694539c87b98cb5096a28,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP,False
4,29743080b6ab006d94b00399ab7b47f0,ba67a2ef88a5d6b25536515bdfd1e8b8,delivered,2017-11-30 15:47:28,2017-11-30 15:57:24,2017-12-02 06:02:14,2017-12-05 21:28:39,2017-12-18 01:00:00,ba67a2ef88a5d6b25536515bdfd1e8b8,2d07268992081121daea23b365799b4c,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95824,06cc571b0a86a28fa19139270e4d3aea,6c94244091c0ea6ecf242283e1455871,delivered,2018-04-11 19:29:35,2018-04-12 13:31:23,2018-04-13 22:36:32,2018-04-25 20:47:12,2018-05-16 02:00:00,6c94244091c0ea6ecf242283e1455871,6e7932d65c10afc9c622770cdf6e9d1c,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS,False
95825,af541cbd9810aaa8b64b870516d507a6,62cedeefcf7566f584f0c424138b5247,delivered,2017-11-26 15:21:33,2017-11-28 04:33:02,2017-11-30 17:38:42,2017-12-11 23:05:08,2017-12-28 01:00:00,62cedeefcf7566f584f0c424138b5247,5f60060ca9a1a7d85838252f62dacc3c,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS,False
95826,365e182cfed9e7f3b3b0bd04ce2251e2,d6991eab03850ca580267c3608a42ca6,delivered,2017-11-25 10:56:09,2017-11-25 11:14:40,2017-11-30 19:37:17,2017-12-20 18:17:08,2017-12-28 01:00:00,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS,False
95827,a07b4171d5e4ccbc057d6321244933cb,3ab8bc00f8740d54afc4c771fb6c7f69,delivered,2017-12-28 10:04:50,2017-12-29 03:09:23,2018-01-02 20:42:32,2018-01-15 19:12:41,2018-01-23 01:00:00,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS,-28.345143,-51.876926,ciriaco,RS,False
95828,6a6aab31a11f630e4907ec3bb0ac8958,586068537ced131bb1950d007e218c6f,delivered,2017-03-27 12:02:36,2017-03-28 05:45:10,2017-03-28 20:39:47,2017-04-12 17:14:31,2017-04-20 02:00:00,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,99920,erebango,RS,-27.858716,-52.300403,erebango,RS,False

In [73]:
# Checking missing values.

location_delivery_unique.isna().sum()

order_id                            1
customer_id                         1
order_status                        1
order_purchase_timestamp            1
order_approved_at                 122
order_delivered_carrier_date     1683
order_delivered_customer_date    2813
order_estimated_delivery_date       1
customer_id                         1
customer_unique_id                  1
geolocation_zip_code_prefix         0
customer_city                       1
customer_state                      1
geolocation_lat                     0
geolocation_lng                     0
geolocation_city                    0
geolocation_state                   0
if_delayed                          0
dtype: int64

In [77]:
# Dropping all rows with missing values.

location_delivery_unique.dropna(axis = 0, inplace = True)

In [78]:
# Checking the outcome.

location_delivery_unique.isna().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
customer_id                      0
customer_unique_id               0
geolocation_zip_code_prefix      0
customer_city                    0
customer_state                   0
geolocation_lat                  0
geolocation_lng                  0
geolocation_city                 0
geolocation_state                0
if_delayed                       0
dtype: int64

In [51]:
# Here I will clean the location and delivery tabel again based on customer id (not unique id like before).
# Here I will delete all duplicates according to customer id, which are all not unique, but show all purchases.

location_delivery_customer = location_delivery_df.drop_duplicates("customer_id").reset_index(drop=True)
location_delivery_customer

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,geolocation_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,14c7dfb8e61a3df193f153c72a99a3e5,19ee522d0dd140702062bb89e4820e19,delivered,2018-05-16 14:12:10,2018-05-16 14:39:24,2018-06-04 09:18:00,2018-06-05 22:07:46,2018-06-04 02:00:00,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
1,e260cc3baa8f4aae3fab201ef60e1127,05b005e82f3f2dcc41b5504f00484e50,delivered,2018-08-17 12:59:04,2018-08-18 05:09:46,2018-08-20 15:43:00,2018-08-21 19:51:40,2018-08-22 02:00:00,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
2,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP
3,e2a04e95ea3fda8f64fc1edeb4e04c34,e41ca8cd2c3ae3aec718fa68a2ff49d4,delivered,2018-05-24 16:20:48,2018-05-24 17:55:22,2018-05-25 17:25:00,2018-05-29 15:56:55,2018-06-12 02:00:00,e41ca8cd2c3ae3aec718fa68a2ff49d4,6f8e7d40046694539c87b98cb5096a28,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP
4,29743080b6ab006d94b00399ab7b47f0,ba67a2ef88a5d6b25536515bdfd1e8b8,delivered,2017-11-30 15:47:28,2017-11-30 15:57:24,2017-12-02 06:02:14,2017-12-05 21:28:39,2017-12-18 01:00:00,ba67a2ef88a5d6b25536515bdfd1e8b8,2d07268992081121daea23b365799b4c,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99159,06cc571b0a86a28fa19139270e4d3aea,6c94244091c0ea6ecf242283e1455871,delivered,2018-04-11 19:29:35,2018-04-12 13:31:23,2018-04-13 22:36:32,2018-04-25 20:47:12,2018-05-16 02:00:00,6c94244091c0ea6ecf242283e1455871,6e7932d65c10afc9c622770cdf6e9d1c,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS
99160,af541cbd9810aaa8b64b870516d507a6,62cedeefcf7566f584f0c424138b5247,delivered,2017-11-26 15:21:33,2017-11-28 04:33:02,2017-11-30 17:38:42,2017-12-11 23:05:08,2017-12-28 01:00:00,62cedeefcf7566f584f0c424138b5247,5f60060ca9a1a7d85838252f62dacc3c,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS
99161,365e182cfed9e7f3b3b0bd04ce2251e2,d6991eab03850ca580267c3608a42ca6,delivered,2017-11-25 10:56:09,2017-11-25 11:14:40,2017-11-30 19:37:17,2017-12-20 18:17:08,2017-12-28 01:00:00,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS
99162,a07b4171d5e4ccbc057d6321244933cb,3ab8bc00f8740d54afc4c771fb6c7f69,delivered,2017-12-28 10:04:50,2017-12-29 03:09:23,2018-01-02 20:42:32,2018-01-15 19:12:41,2018-01-23 01:00:00,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS,-28.345143,-51.876926,ciriaco,RS
99163,6a6aab31a11f630e4907ec3bb0ac8958,586068537ced131bb1950d007e218c6f,delivered,2017-03-27 12:02:36,2017-03-28 05:45:10,2017-03-28 20:39:47,2017-04-12 17:14:31,2017-04-20 02:00:00,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,99920,erebango,RS,-27.858716,-52.300403,erebango,RS

In [52]:
# Adding a new column for if the order was delayed.

location_delivery_customer["is_delayed"] = location_delivery_customer["order_delivered_customer_date"] > location_delivery_customer["order_estimated_delivery_date"]

In [53]:
# Checking the outcome.

location_delivery_customer

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,geolocation_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,is_delayed
0,14c7dfb8e61a3df193f153c72a99a3e5,19ee522d0dd140702062bb89e4820e19,delivered,2018-05-16 14:12:10,2018-05-16 14:39:24,2018-06-04 09:18:00,2018-06-05 22:07:46,2018-06-04 02:00:00,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP,True
1,e260cc3baa8f4aae3fab201ef60e1127,05b005e82f3f2dcc41b5504f00484e50,delivered,2018-08-17 12:59:04,2018-08-18 05:09:46,2018-08-20 15:43:00,2018-08-21 19:51:40,2018-08-22 02:00:00,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP,False
2,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,1037,sao paulo,SP,-23.545621,-46.639292,sao paulo,SP,False
3,e2a04e95ea3fda8f64fc1edeb4e04c34,e41ca8cd2c3ae3aec718fa68a2ff49d4,delivered,2018-05-24 16:20:48,2018-05-24 17:55:22,2018-05-25 17:25:00,2018-05-29 15:56:55,2018-06-12 02:00:00,e41ca8cd2c3ae3aec718fa68a2ff49d4,6f8e7d40046694539c87b98cb5096a28,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP,False
4,29743080b6ab006d94b00399ab7b47f0,ba67a2ef88a5d6b25536515bdfd1e8b8,delivered,2017-11-30 15:47:28,2017-11-30 15:57:24,2017-12-02 06:02:14,2017-12-05 21:28:39,2017-12-18 01:00:00,ba67a2ef88a5d6b25536515bdfd1e8b8,2d07268992081121daea23b365799b4c,1046,sao paulo,SP,-23.546081,-46.644820,sao paulo,SP,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99159,06cc571b0a86a28fa19139270e4d3aea,6c94244091c0ea6ecf242283e1455871,delivered,2018-04-11 19:29:35,2018-04-12 13:31:23,2018-04-13 22:36:32,2018-04-25 20:47:12,2018-05-16 02:00:00,6c94244091c0ea6ecf242283e1455871,6e7932d65c10afc9c622770cdf6e9d1c,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS,False
99160,af541cbd9810aaa8b64b870516d507a6,62cedeefcf7566f584f0c424138b5247,delivered,2017-11-26 15:21:33,2017-11-28 04:33:02,2017-11-30 17:38:42,2017-12-11 23:05:08,2017-12-28 01:00:00,62cedeefcf7566f584f0c424138b5247,5f60060ca9a1a7d85838252f62dacc3c,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS,False
99161,365e182cfed9e7f3b3b0bd04ce2251e2,d6991eab03850ca580267c3608a42ca6,delivered,2017-11-25 10:56:09,2017-11-25 11:14:40,2017-11-30 19:37:17,2017-12-20 18:17:08,2017-12-28 01:00:00,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,99955,vila langaro,RS,-28.107588,-52.144019,vila langaro,RS,False
99162,a07b4171d5e4ccbc057d6321244933cb,3ab8bc00f8740d54afc4c771fb6c7f69,delivered,2017-12-28 10:04:50,2017-12-29 03:09:23,2018-01-02 20:42:32,2018-01-15 19:12:41,2018-01-23 01:00:00,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS,-28.345143,-51.876926,ciriaco,RS,False
99163,6a6aab31a11f630e4907ec3bb0ac8958,586068537ced131bb1950d007e218c6f,delivered,2017-03-27 12:02:36,2017-03-28 05:45:10,2017-03-28 20:39:47,2017-04-12 17:14:31,2017-04-20 02:00:00,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,99920,erebango,RS,-27.858716,-52.300403,erebango,RS,False

In [74]:
# Checking for missing values.

location_delivery_customer.isna().sum()

order_id                            1
customer_id                         1
order_status                        1
order_purchase_timestamp            1
order_approved_at                 160
order_delivered_carrier_date     1777
order_delivered_customer_date    2952
order_estimated_delivery_date       1
customer_id                         1
customer_unique_id                  1
geolocation_zip_code_prefix         0
customer_city                       1
customer_state                      1
geolocation_lat                     0
geolocation_lng                     0
geolocation_city                    0
geolocation_state                   0
is_delayed                          0
dtype: int64

In [80]:
# Dropping rows with missing values.

location_delivery_customer.dropna(axis = 0, inplace = True)

In [81]:
# Checking the outcome.

location_delivery_customer.isna().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
customer_id                      0
customer_unique_id               0
geolocation_zip_code_prefix      0
customer_city                    0
customer_state                   0
geolocation_lat                  0
geolocation_lng                  0
geolocation_city                 0
geolocation_state                0
is_delayed                       0
dtype: int64

In [82]:
# Saving the tables as csv files.

In [83]:
# location_delivery_unique.to_csv(r'Data\unique location delivery df.csv', index = False)

In [84]:
# location_delivery_customer.to_csv(r'Data\customer location delivery df.csv', index = False)

In [85]:
# Getting the necessary freight information.

fright_delivery = "SELECT * FROM olist.order_items"
fright_df = pd.read_sql_query(fright_delivery, db_connection)
fright_df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 11:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 13:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 15:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 12:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 14:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 06:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 06:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 18:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 02:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 19:10:13,43.00,12.79

In [86]:
# In order to compare the fright values to markets, I will join relevant tables.

location_fright_df = pd.merge(location_delivery_customer, fright_df, on = "order_id")
location_fright_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,...,geolocation_lng,geolocation_city,geolocation_state,is_delayed,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,14c7dfb8e61a3df193f153c72a99a3e5,19ee522d0dd140702062bb89e4820e19,delivered,2018-05-16 14:12:10,2018-05-16 14:39:24,2018-06-04 09:18:00,2018-06-05 22:07:46,2018-06-04 02:00:00,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,...,-46.639292,sao paulo,SP,True,1,e0d64dcfaa3b6db5c54ca298ae101d05,2eb70248d66e0e3ef83659f71b244378,2018-05-28 14:30:59,128.90,7.77
1,e260cc3baa8f4aae3fab201ef60e1127,05b005e82f3f2dcc41b5504f00484e50,delivered,2018-08-17 12:59:04,2018-08-18 05:09:46,2018-08-20 15:43:00,2018-08-21 19:51:40,2018-08-22 02:00:00,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,...,-46.639292,sao paulo,SP,False,1,d7a023eecac412d29d49735e9e9b629f,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 05:09:46,25.00,8.34
2,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,...,-46.639292,sao paulo,SP,False,1,b2855c4e42b8a50f359904c6763eeddc,17a053fcb14bd219540cbde0df490be0,2018-05-17 04:57:14,369.90,35.36
3,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,...,-46.639292,sao paulo,SP,False,2,b2855c4e42b8a50f359904c6763eeddc,17a053fcb14bd219540cbde0df490be0,2018-05-17 04:57:14,369.90,35.36
4,e2a04e95ea3fda8f64fc1edeb4e04c34,e41ca8cd2c3ae3aec718fa68a2ff49d4,delivered,2018-05-24 16:20:48,2018-05-24 17:55:22,2018-05-25 17:25:00,2018-05-29 15:56:55,2018-06-12 02:00:00,e41ca8cd2c3ae3aec718fa68a2ff49d4,6f8e7d40046694539c87b98cb5096a28,...,-46.644820,sao paulo,SP,False,1,dab2413ead0edda9967edbc9bda2a64e,ea8482cd71df3c1969d7b9473ff13abc,2018-05-29 17:55:22,29.98,7.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109887,06cc571b0a86a28fa19139270e4d3aea,6c94244091c0ea6ecf242283e1455871,delivered,2018-04-11 19:29:35,2018-04-12 13:31:23,2018-04-13 22:36:32,2018-04-25 20:47:12,2018-05-16 02:00:00,6c94244091c0ea6ecf242283e1455871,6e7932d65c10afc9c622770cdf6e9d1c,...,-52.144019,vila langaro,RS,False,1,7ce94ab189134e2d3c05f496d635419c,8b321bb669392f5163d04c59e235e066,2018-04-18 13:31:19,13.65,18.23
109888,af541cbd9810aaa8b64b870516d507a6,62cedeefcf7566f584f0c424138b5247,delivered,2017-11-26 15:21:33,2017-11-28 04:33:02,2017-11-30 17:38:42,2017-12-11 23:05:08,2017-12-28 01:00:00,62cedeefcf7566f584f0c424138b5247,5f60060ca9a1a7d85838252f62dacc3c,...,-52.144019,vila langaro,RS,False,1,2990952a0c7c8dd6c64d1db4d183c1fb,ea8482cd71df3c1969d7b9473ff13abc,2017-12-04 04:26:14,27.99,15.10
109889,365e182cfed9e7f3b3b0bd04ce2251e2,d6991eab03850ca580267c3608a42ca6,delivered,2017-11-25 10:56:09,2017-11-25 11:14:40,2017-11-30 19:37:17,2017-12-20 18:17:08,2017-12-28 01:00:00,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,...,-52.144019,vila langaro,RS,False,1,84f456958365164420cfc80fbe4c7fab,4a3ca9315b744ce9f8e9374361493884,2017-11-30 11:14:40,99.00,17.94
109890,a07b4171d5e4ccbc057d6321244933cb,3ab8bc00f8740d54afc4c771fb6c7f69,delivered,2017-12-28 10:04:50,2017-12-29 03:09:23,2018-01-02 20:42:32,2018-01-15 19:12:41,2018-01-23 01:00:00,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,...,-51.876926,ciriaco,RS,False,1,cc94c5f27ae497887be368de47c43d6a,f08a5b9dd6767129688d001acafc21e5,2018-01-05 03:09:23,229.00,23.74
109891,6a6aab31a11f630e4907ec3bb0ac8958,586068537ced131bb1950d007e218c6f,delivered,2017-03-27 12:02:36,2017-03-28 05:45:10,2017-03-28 20:39:47,2017-04-12 17:14:31,2017-04-20 02:00:00,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,...,-52.300403,erebango,RS,False,1,4ebb87ba41ca446326804d0e7f8dcc93,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 05:45:10,119.99,19.43

In [87]:
# Saving the table as csv files.

# location_fright_df.to_csv(r'Data\location and fright df.csv', index = False)

In [88]:
# Calculating the delivery days for each order. Adding the result to a new column.

location_fright_df["delivery_days"] = (location_fright_df["order_delivered_customer_date"] - location_fright_df["order_purchase_timestamp"]).dt.days

In [89]:
# Checking the result.

location_fright_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,...,geolocation_city,geolocation_state,is_delayed,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,delivery_days
0,14c7dfb8e61a3df193f153c72a99a3e5,19ee522d0dd140702062bb89e4820e19,delivered,2018-05-16 14:12:10,2018-05-16 14:39:24,2018-06-04 09:18:00,2018-06-05 22:07:46,2018-06-04 02:00:00,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,...,sao paulo,SP,True,1,e0d64dcfaa3b6db5c54ca298ae101d05,2eb70248d66e0e3ef83659f71b244378,2018-05-28 14:30:59,128.90,7.77,20
1,e260cc3baa8f4aae3fab201ef60e1127,05b005e82f3f2dcc41b5504f00484e50,delivered,2018-08-17 12:59:04,2018-08-18 05:09:46,2018-08-20 15:43:00,2018-08-21 19:51:40,2018-08-22 02:00:00,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,...,sao paulo,SP,False,1,d7a023eecac412d29d49735e9e9b629f,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 05:09:46,25.00,8.34,4
2,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,...,sao paulo,SP,False,1,b2855c4e42b8a50f359904c6763eeddc,17a053fcb14bd219540cbde0df490be0,2018-05-17 04:57:14,369.90,35.36,6
3,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,...,sao paulo,SP,False,2,b2855c4e42b8a50f359904c6763eeddc,17a053fcb14bd219540cbde0df490be0,2018-05-17 04:57:14,369.90,35.36,6
4,e2a04e95ea3fda8f64fc1edeb4e04c34,e41ca8cd2c3ae3aec718fa68a2ff49d4,delivered,2018-05-24 16:20:48,2018-05-24 17:55:22,2018-05-25 17:25:00,2018-05-29 15:56:55,2018-06-12 02:00:00,e41ca8cd2c3ae3aec718fa68a2ff49d4,6f8e7d40046694539c87b98cb5096a28,...,sao paulo,SP,False,1,dab2413ead0edda9967edbc9bda2a64e,ea8482cd71df3c1969d7b9473ff13abc,2018-05-29 17:55:22,29.98,7.39,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109887,06cc571b0a86a28fa19139270e4d3aea,6c94244091c0ea6ecf242283e1455871,delivered,2018-04-11 19:29:35,2018-04-12 13:31:23,2018-04-13 22:36:32,2018-04-25 20:47:12,2018-05-16 02:00:00,6c94244091c0ea6ecf242283e1455871,6e7932d65c10afc9c622770cdf6e9d1c,...,vila langaro,RS,False,1,7ce94ab189134e2d3c05f496d635419c,8b321bb669392f5163d04c59e235e066,2018-04-18 13:31:19,13.65,18.23,14
109888,af541cbd9810aaa8b64b870516d507a6,62cedeefcf7566f584f0c424138b5247,delivered,2017-11-26 15:21:33,2017-11-28 04:33:02,2017-11-30 17:38:42,2017-12-11 23:05:08,2017-12-28 01:00:00,62cedeefcf7566f584f0c424138b5247,5f60060ca9a1a7d85838252f62dacc3c,...,vila langaro,RS,False,1,2990952a0c7c8dd6c64d1db4d183c1fb,ea8482cd71df3c1969d7b9473ff13abc,2017-12-04 04:26:14,27.99,15.10,15
109889,365e182cfed9e7f3b3b0bd04ce2251e2,d6991eab03850ca580267c3608a42ca6,delivered,2017-11-25 10:56:09,2017-11-25 11:14:40,2017-11-30 19:37:17,2017-12-20 18:17:08,2017-12-28 01:00:00,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,...,vila langaro,RS,False,1,84f456958365164420cfc80fbe4c7fab,4a3ca9315b744ce9f8e9374361493884,2017-11-30 11:14:40,99.00,17.94,25
109890,a07b4171d5e4ccbc057d6321244933cb,3ab8bc00f8740d54afc4c771fb6c7f69,delivered,2017-12-28 10:04:50,2017-12-29 03:09:23,2018-01-02 20:42:32,2018-01-15 19:12:41,2018-01-23 01:00:00,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,...,ciriaco,RS,False,1,cc94c5f27ae497887be368de47c43d6a,f08a5b9dd6767129688d001acafc21e5,2018-01-05 03:09:23,229.00,23.74,18
109891,6a6aab31a11f630e4907ec3bb0ac8958,586068537ced131bb1950d007e218c6f,delivered,2017-03-27 12:02:36,2017-03-28 05:45:10,2017-03-28 20:39:47,2017-04-12 17:14:31,2017-04-20 02:00:00,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,...,erebango,RS,False,1,4ebb87ba41ca446326804d0e7f8dcc93,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 05:45:10,119.99,19.43,16

In [90]:
# Checking for missing values.

location_fright_df.isna().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
customer_id                      0
customer_unique_id               0
geolocation_zip_code_prefix      0
customer_city                    0
customer_state                   0
geolocation_lat                  0
geolocation_lng                  0
geolocation_city                 0
geolocation_state                0
is_delayed                       0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
delivery_days                    0
dtype: int64

In [91]:
# Saving the table as csv.

# location_fright_df.to_csv(r'Data\location_and_fright_df.csv', index = False)

In [92]:
# Descriptive information about the column. For example to find the mean.

location_fright_df["delivery_days"].describe()

count    109892.000000
mean         12.000983
std           9.450383
min           0.000000
25%           6.000000
50%          10.000000
75%          15.000000
max         209.000000
Name: delivery_days, dtype: float64

In [93]:
# Getting the necessary columns for reviews information.

query_reviews = "SELECT order_id, review_score FROM olist.order_reviews"
reviews_df = pd.read_sql_query(query_reviews, db_connection)
reviews_df

                               order_id  review_score
0      73fc7af87114b39712e6da79b0a377eb             4
1      a548910a1c6147796b98fdf73dbeba33             5
2      f9e4b658b201a9f2ecdecbb34bed034b             5
3      658677c97b385a9be170737859d3511b             5
4      8e6bfb81e283fa7e4f11123a3fb894f1             5
...                                 ...           ...
99995  22ec9f0669f784db00fa86d035cf8602             5
99996  55d4004744368f5571d1f590031933e4             5
99997  7725825d039fc1f0ceb7635e3f7d9206             4
99998  f8bd3f2000c28c5342fedeb5e50f2e75             1
99999  90531360ecb1eec2a1fbb265a0db0508             1

[100000 rows x 2 columns]

In [94]:
# Adding it to the previous table.

reviews_delays_df = pd.merge(location_fright_df, reviews_df, on = "order_id", how = "inner")
reviews_delays_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,...,geolocation_state,is_delayed,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,delivery_days,review_score
0,14c7dfb8e61a3df193f153c72a99a3e5,19ee522d0dd140702062bb89e4820e19,delivered,2018-05-16 14:12:10,2018-05-16 14:39:24,2018-06-04 09:18:00,2018-06-05 22:07:46,2018-06-04 02:00:00,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,...,SP,True,1,e0d64dcfaa3b6db5c54ca298ae101d05,2eb70248d66e0e3ef83659f71b244378,2018-05-28 14:30:59,128.90,7.77,20,5
1,e260cc3baa8f4aae3fab201ef60e1127,05b005e82f3f2dcc41b5504f00484e50,delivered,2018-08-17 12:59:04,2018-08-18 05:09:46,2018-08-20 15:43:00,2018-08-21 19:51:40,2018-08-22 02:00:00,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,...,SP,False,1,d7a023eecac412d29d49735e9e9b629f,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 05:09:46,25.00,8.34,4,5
2,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,...,SP,False,1,b2855c4e42b8a50f359904c6763eeddc,17a053fcb14bd219540cbde0df490be0,2018-05-17 04:57:14,369.90,35.36,6,4
3,d4daa9ee1fe28458773297759dbfe2bc,6519f59a7687a4661f7c8a7e24f28f94,delivered,2018-05-08 13:15:05,2018-05-10 04:57:14,2018-05-11 21:00:00,2018-05-14 23:36:38,2018-05-21 02:00:00,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,...,SP,False,2,b2855c4e42b8a50f359904c6763eeddc,17a053fcb14bd219540cbde0df490be0,2018-05-17 04:57:14,369.90,35.36,6,4
4,e2a04e95ea3fda8f64fc1edeb4e04c34,e41ca8cd2c3ae3aec718fa68a2ff49d4,delivered,2018-05-24 16:20:48,2018-05-24 17:55:22,2018-05-25 17:25:00,2018-05-29 15:56:55,2018-06-12 02:00:00,e41ca8cd2c3ae3aec718fa68a2ff49d4,6f8e7d40046694539c87b98cb5096a28,...,SP,False,1,dab2413ead0edda9967edbc9bda2a64e,ea8482cd71df3c1969d7b9473ff13abc,2018-05-29 17:55:22,29.98,7.39,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110533,06cc571b0a86a28fa19139270e4d3aea,6c94244091c0ea6ecf242283e1455871,delivered,2018-04-11 19:29:35,2018-04-12 13:31:23,2018-04-13 22:36:32,2018-04-25 20:47:12,2018-05-16 02:00:00,6c94244091c0ea6ecf242283e1455871,6e7932d65c10afc9c622770cdf6e9d1c,...,RS,False,1,7ce94ab189134e2d3c05f496d635419c,8b321bb669392f5163d04c59e235e066,2018-04-18 13:31:19,13.65,18.23,14,5
110534,af541cbd9810aaa8b64b870516d507a6,62cedeefcf7566f584f0c424138b5247,delivered,2017-11-26 15:21:33,2017-11-28 04:33:02,2017-11-30 17:38:42,2017-12-11 23:05:08,2017-12-28 01:00:00,62cedeefcf7566f584f0c424138b5247,5f60060ca9a1a7d85838252f62dacc3c,...,RS,False,1,2990952a0c7c8dd6c64d1db4d183c1fb,ea8482cd71df3c1969d7b9473ff13abc,2017-12-04 04:26:14,27.99,15.10,15,5
110535,365e182cfed9e7f3b3b0bd04ce2251e2,d6991eab03850ca580267c3608a42ca6,delivered,2017-11-25 10:56:09,2017-11-25 11:14:40,2017-11-30 19:37:17,2017-12-20 18:17:08,2017-12-28 01:00:00,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,...,RS,False,1,84f456958365164420cfc80fbe4c7fab,4a3ca9315b744ce9f8e9374361493884,2017-11-30 11:14:40,99.00,17.94,25,3
110536,a07b4171d5e4ccbc057d6321244933cb,3ab8bc00f8740d54afc4c771fb6c7f69,delivered,2017-12-28 10:04:50,2017-12-29 03:09:23,2018-01-02 20:42:32,2018-01-15 19:12:41,2018-01-23 01:00:00,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,...,RS,False,1,cc94c5f27ae497887be368de47c43d6a,f08a5b9dd6767129688d001acafc21e5,2018-01-05 03:09:23,229.00,23.74,18,5
110537,6a6aab31a11f630e4907ec3bb0ac8958,586068537ced131bb1950d007e218c6f,delivered,2017-03-27 12:02:36,2017-03-28 05:45:10,2017-03-28 20:39:47,2017-04-12 17:14:31,2017-04-20 02:00:00,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,...,RS,False,1,4ebb87ba41ca446326804d0e7f8dcc93,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 05:45:10,119.99,19.43,16,4

In [95]:
# Checking missing values.

reviews_delays_df.isna().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
customer_id                      0
customer_unique_id               0
geolocation_zip_code_prefix      0
customer_city                    0
customer_state                   0
geolocation_lat                  0
geolocation_lng                  0
geolocation_city                 0
geolocation_state                0
is_delayed                       0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
delivery_days                    0
review_score                     0
dtype: int64

In [96]:
# Saving it as csv.

# reviews_delays_df.to_csv(r'reviews_delays_df.csv', index = False)